<li class="list-group-item">
	{{burger_name}}

		{{#if devoured}}
		{{else}}
			<button type="button" class="change-devoured btn btn-outline btn-block" data-id="{{id}}" data-newdevoured="{{devoured}}">
				Eat this burger
			</button>
		{{/if}}

</li>