<div class="jumbotron jumbotron-fluid">
  <div class="container">
    {{!-- Animated letters --}}
    <div class="row d-flex justify-content-center">
      <h1 class="ml6">
        <span class="text-wrapper">
          <span class="letters">
            Eat Da Burger
          </span>
          <span>
            <i class="fas fa-hamburger fa-lg"></i>
          </span>
        </span>
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card m-2" style="width: 25rem;">
        <div class="card-header">
          <i class="fas fa-concierge-bell fa-m"></i>
          Ready to be devoured
        </div>
        <ul class="list-group list-group-flush">
          {{#each burgers}}
            {{#unless isDevoured}}
              {{> burger-block isDevoured=false}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card m-2" style="width: 25rem;">
        <div class="card-header">
          Already gone
          <i class="fas fa-wind fa-m"></i>
        </div>
        <ul class="list-group list-group-flush">
          {{#each burgers}}
            {{#if isDevoured}}
              {{> burger-block isDevoured=true}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">

  <div class="row justify-content-center">
    <h2>Add a Burger</h2>
  </div>

  <div class="row justify-content-center">
    <form class="create-form">

      <div class="form-group row justify-content-center">
        <label for="burger">Add your favorite type of burger</label>
        <input type="text" id="burger" name="name">
      </div>

      <div class="row justify-content-center">
        <button class="submit" type="submit">Add Burger</button>
      </div>

    </form>
  </div>
</div>

