<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-center">
      {{!-- Animated letters --}}
      <h1 class="ml6">
        <span class="text-wrapper">
          <span class="letters">Eat Da Burger</span>
        </span>
      </h1>
    </div>
    <div class="row justify-content-center">
      <p class="lead">Add your favorite type of burger, then eat 'em up</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Ready to be devoured
        </div>
        <ul class="list-group list-group-flush">
          {{#each burgers}}
            {{#unless devoured}}
              {{> burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Already gone
        </div>
        <ul class="list-group list-group-flush">
          {{#each burgers}}
            {{#if devoured}}
              {{> burger-block devoured=true}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">

  <div class="row justify-content-center">
    <h2>Add a Burger</h2>
  </div>

  <div class="row justify-content-center">
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger name:</label>
        <input type="text" id="burger" name="name">
      </div>

      <div class="row justify-content-center">
        <button type="submit">Add Burger</button>
      </div>

    </form>
  </div>
</div>

