body,
.jumbotron {
    background-color: #1C2A45;
}

.jumbotron {
    padding-bottom: 2em;
}

h1,
h2,
label {
    color: #D7AC3E;
}

label,
input {
    text-align: center;
}

h1,
h2,
label,
button,
.card-header {
    font-family: 'RocknRoll One', sans-serif;
}

button {

}

.card {
    border-color: #D2D4D6;
    border-width: 2px;
    background-color: #D2D4D6;
}

.card-header {
    font-size: larger;
    text-align: center;
    background-color: #1C2A45;
    color: #D2D4D6;
}

.list-group {
    background-color: #1C2A45;
    border-radius: 4px;
    border: #D2D4D6;
}

.list-group-item {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    background-color: #D2D4D6;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.change-devoured {
    color: #D2D4D6;
    background-color: #1C2A45;
    border-radius: 4px;
    border-color: #1C2A45;
    margin:5px;
}

.change-devoured:active,
.change-devoured:focus,
.change-devoured:hover {
    color: #1C2A45;
    background: #D7AC3E;
    border-color: #1C2A45;
    border-width: 2px;
}

.submit {
    background-color: #D7AC3E;
    border-radius: 4px;
    border-color: #1C2A45;
    margin: 2px;
    padding: 5px;
    color: #1C2A45;
}

.fa-hamburger {
    color: #D2D4D6;
}


/* Animated letters */
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }